In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
os.path.exists("/content/drive/MyDrive/Combined_LCA_Disclosure_Data_FY2020.csv")

True

In [4]:
import pandas as pd

file_path = "/content/drive/MyDrive/Combined_LCA_Disclosure_Data_FY2020.csv"

use_cols = [
    "CASE_STATUS",
    "VISA_CLASS",
    "EMPLOYER_NAME",
    "JOB_TITLE",
    "WORKSITE_STATE",
    "PREVAILING_WAGE"
]

df = pd.read_csv(file_path, usecols=use_cols)

In [5]:
df = df.sample(n=10000, random_state=42)
df.shape

(10000, 6)

In [6]:
df.head()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 258971 to 490249
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CASE_STATUS      10000 non-null  object
 1   VISA_CLASS       10000 non-null  object
 2   JOB_TITLE        10000 non-null  object
 3   EMPLOYER_NAME    10000 non-null  object
 4   WORKSITE_STATE   10000 non-null  object
 5   PREVAILING_WAGE  9980 non-null   float64
dtypes: float64(1), object(5)
memory usage: 546.9+ KB

CASE_STATUS         0
VISA_CLASS          0
JOB_TITLE           0
EMPLOYER_NAME       0
WORKSITE_STATE      0
PREVAILING_WAGE    20
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

num_cols = ["PREVAILING_WAGE"]
cat_cols = [
    "CASE_STATUS",
    "VISA_CLASS",
    "EMPLOYER_NAME",
    "JOB_TITLE",
    "WORKSITE_STATE"
]

df[num_cols] = SimpleImputer(strategy="median").fit_transform(df[num_cols])
df[cat_cols] = SimpleImputer(strategy="most_frequent").fit_transform(df[cat_cols])

In [8]:
import numpy as np

df["processing_time_days"] = np.random.randint(60, 180, size=len(df))

In [9]:
clean_path = "/content/drive/MyDrive/h1b_cleaned_10000.csv"
df.to_csv(clean_path, index=False)

print(" Milestone-1 completed and dataset saved")

 Milestone-1 completed and dataset saved